<table id="donate-container">
  <tr>
    <td>
      <div id="please-donate">
	Welcome to <a href="http://www.bluefruit.co.uk/" target="_blank">Bluefruit's</a> Google Glass competition
      </div>
    </td>
  </tr>
</table>
