
<div id="accu-container">
  <div id="accu-words">
    This competition is run using <a href="http://cyber-dojo.org">cyber-dojo</a> by Jon Jagger.
    <br/>Jon is a <a href="http://www.jaggersoft.com/">Software Coach, Consultant and Enthusiast</a> who helps us improve our practices and processes.
  </div>
</div>
