Hi <%= @fullname %>,
<p>
Thanks for entering our competition; we have received your submission and are looking forward to announcing the winner after the closing date in January!
<br/>If you think you could have done better, you’re welcome to have another go at: <a href="http://bluefruit.cyber-dojo.org">bluefruit.cyber-dojo.org</a>. The deadline for the last entry is January 31st, so you’ve got plenty of time to show us your skills!
</p>
<p>
Why not challenge your friends?
<br/>Share the competition on social media and find out who really is the ‘King of Code’:
</p>
<p>
<a href="https://www.facebook.com/sharer/sharer.php?u=http://www.bluefruit.co.uk/win">Facebook</a>
<a href="https://plus.google.com/share?url=http://www.bluefruit.co.uk/win">Google+</a>
<a href="https://www.linkedin.com/shareArticle?mini=true&url=http://www.bluefruit.co.uk/win&title=How%20'Pro'%20Is%20Your%20Programming?%20%7C%20WIN%20Google%20Glass&summary=Think%20you're%20a%20bit%20of%20a%20coding%20legend?%20Take%20part%20in%20the%20Bluefruit%20Challenge%20to%20be%20in%20with%20a%20chance%20to%20win%20Google%20Glass!&source=">LinkedIn</a>
<a href="https://twitter.com/home?status=Just%20took%20the%20@BluefruitSW%20%23programming%20challenge%20to%20win%20Google%20Glass!%20Try%20it%20yourself%20at:%20http://www.bluefruit.co.uk/win">Twitter</a>
</p>
<p>
Best of luck!
<br/>The Bluefruit Team
</p>
